<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQTG8r3MuCmdqBe43NV0NG2EhIsKr-aMg</string>
	<key>GCM_SENDER_ID</key>
	<string>859756564205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flikcar.mobile</string>
	<key>PROJECT_ID</key>
	<string>flikcar-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>flikcar-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859756564205:ios:18e5f60b013075e7a186e4</string>
</dict>
</plist>